stages:
  - build
  - lint
  - functional

variables:
  DJANGO_SETTINGS_MODULE: "myproject.settings"
  VENV_PATH: ".venv"
  SECRET_KEY: "ci-secret-key"
  DB_NAME: "gitlab_ci"
  DB_USER: "gitlab_ci"
  DB_PASSWORD: "gitlab_ci"
  DB_HOST: "postgres"
  DB_PORT: "5432"

.before_shell:
  cache:
    key: "venv-v2"
    paths:
      - .venv/
  before_script:
    - python3 -m venv $VENV_PATH
    - $VENV_PATH/bin/pip install --upgrade pip setuptools
    - $VENV_PATH/bin/pip install -r requirements.txt

build_project:
  stage: build
  extends: .before_shell
  script:
    - mkdir -p artifacts
    - $VENV_PATH/bin/python manage.py collectstatic --noinput > artifacts/collectstatic.txt
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - artifacts/collectstatic.txt
      - staticfiles/

lint_flake8:
  stage: lint
  extends: .before_shell
  script:
    - $VENV_PATH/bin/pip install flake8
    - mkdir -p artifacts
    - $VENV_PATH/bin/flake8 . --select=E9,F63,F7,F82 --exclude venv,.venv,**/migrations/* > artifacts/flake8.txt
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - artifacts/flake8.txt

migrations_check:
  stage: functional
  extends: .before_shell
  script:
    - mkdir -p artifacts
    - $VENV_PATH/bin/python manage.py makemigrations --check --dry-run > artifacts/migrations-check.txt
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - artifacts/migrations-check.txt

django_check:
  stage: functional
  extends: .before_shell
  script:
    - mkdir -p artifacts
    - $VENV_PATH/bin/python manage.py check > artifacts/django-check.txt
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - artifacts/django-check.txt
