stages:
  - build
  - lint
  - functional

variables:
  DJANGO_SETTINGS_MODULE: "myproject.settings"
  VENV_PATH: ".venv"

.before_shell:
  cache:
    paths:
      - .venv/
  before_script:
    - python3 -V
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt

build_project:
  stage: build
  extends: .before_shell
  script:
    - mkdir -p artifacts
    - python3 manage.py collectstatic --noinput > artifacts/collectstatic.txt
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - artifacts/collectstatic.txt
      - staticfiles/

lint_flake8:
  stage: lint
  extends: .before_shell
  script:
    - pip install flake8
    - mkdir -p artifacts
    - flake8 . --select=E9,F63,F7,F82 --exclude venv,.venv,**/migrations/* > artifacts/flake8.txt
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - artifacts/flake8.txt

migrations_check:
  stage: functional
  extends: .before_shell
  script:
    - mkdir -p artifacts
    - python3 manage.py makemigrations --check --dry-run > artifacts/migrations-check.txt
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - artifacts/migrations-check.txt

django_check:
  stage: functional
  extends: .before_shell
  script:
    - mkdir -p artifacts
    - python3 manage.py check > artifacts/django-check.txt
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - artifacts/django-check.txt
